/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
	/*outline: 1px solid grey;*/
}

/*html, #boxy {
	background: image-url('background-2.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

html, body {
	height: 100%;
}

body{
	/*height: 100%;*/
	background-image: url('background-2.jpg');
 	background-size: cover;
 	background-attachment: fixed;
 	background-position: center;
 	background-repeat: no-repeat;
}

#my_navbar {
	height: 50px;
	background: linear-gradient(white, #32150b);
}

.center_div_horizontal{
	left: 50%;
	transform: translateX(-50%);
}

.center_div_vertical{
	top: 50%;
	transform: translateY(-50%);
} 

.my_margin_bottom{
	margin-bottom: 3px;
}

.my_logout{
	margin-top: 7px;
}

.my_white{
	color: white;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
	.lender, .borrower{
		left: 50%;
		transform: translateX(-50%);
	}
}