// Place all the styles related to the Borrowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#table {

  max-width: 750px;
  padding: 15px;
  margin: 0 auto;
}

#table_color {
	background-color: rgba(245, 245, 245, 0.6);
}